In [82]:
import numpy as np
import pandas as pd
import geopandas as gpd
import time

import plotly.express as px
import plotly.graph_objects as go
import altair as alt
from vega_datasets import data

from urllib.request import urlopen
import json

pd.set_option("display.float_format", lambda x: "%.2f" % x)

In [83]:
# Set location of the dataset
filepath = "../datasets/preprocessed_data.csv"

# Load datasets, add encoding to prevent error
main_df = pd.read_csv(filepath)

main_df.head()

,order_date,order_region,order_country,order_city,market,sales,order_item_quantity,shipping_date,days_for_shipping_real,days_for_shipment_scheduled,category_name,delivery_status,late_delivery_risk,shipping_mode,sales_per_item,shipping_days_difference,order_year,order_month,order_year_month_date
0,2015-01-01 00:00:00,Central America,Mexico,Mexico City,LATAM,299.98,1,1/3/2015 0:00,2,4,Camping & Hiking,Advance shipping,0,Standard Class,299.98,2,2015,January,2015-01-01
1,2015-01-01 00:21:00,South America,Colombia,Dos Quebradas,LATAM,199.99,1,1/4/2015 0:21,3,4,Water Sports,Advance shipping,0,Standard Class,199.99,1,2015,January,2015-01-01
2,2015-01-01 00:21:00,South America,Colombia,Dos Quebradas,LATAM,250.00,5,1/4/2015 0:21,3,4,Women's Apparel,Advance shipping,0,Standard Class,50.00,1,2015,January,2015-01-01
3,2015-01-01 00:21:00,South America,Colombia,Dos Quebradas,LATAM,129.99,1,1/4/2015 0:21,3,4,Men's Footwear,Advance shipping,0,Standard Class,129.99,1,2015,January,2015-01-01
4,2015-01-01 01:03:00,South America,Colombia,Dos Quebradas,LATAM,199.92,4,1/6/2015 1:03,5,4,Indoor/Outdoor Games,Late delivery,1,Standard Class,49.98,-1,2015,January,2015-01-01

In [86]:
sales_2017 = main_df[main_df["order_year"] == 2017].groupby(["market", "order_region"]).agg(
    mean_sales=("sales", "mean")).reset_index()

sales_2017

          market           order_region  mean_sales
0         Africa         Central Africa      192.11
1         Africa            East Africa      202.35
2         Africa           North Africa      205.42
3         Africa        Southern Africa      178.61
4         Africa            West Africa      194.14
5         Europe         Asiatic Russia      203.76
6         Europe         Eastern Europe      201.90
7         Europe        Northern Europe      246.05
8         Europe        Southern Europe      244.27
9         Europe         Western Europe      241.50
10         LATAM              Caribbean      199.88
11         LATAM        Central America      202.39
12         LATAM          South America      201.06
13  Pacific Asia  Australia/New Zealand      234.34
14  Pacific Asia           Central Asia      167.70
15  Pacific Asia           Eastern Asia      286.91
16  Pacific Asia                Oceania      212.51
17  Pacific Asia             South Asia      256.68
18  Pacific Asia         Southeast Asia      271.91
19  Pacific Asia              West Asia      198.47
20          USCA       Northern America      195.45

In [87]:
sales_2017.to_csv("../datasets/sales_2017.csv", index=False)

In [88]:
sales_2016 = main_df[main_df["order_year"] == 2016].groupby(["market", "order_region"]).agg(
    mean_sales=("sales", "mean")).reset_index()

sales_2016

          market           order_region  mean_sales
0         Africa         Central Africa      195.46
1         Africa            East Africa      203.25
2         Africa           North Africa      195.31
3         Africa        Southern Africa      199.22
4         Africa            West Africa      197.34
5         Europe         Asiatic Russia      195.79
6         Europe         Eastern Europe      197.13
7         Europe        Northern Europe      173.72
8         Europe        Southern Europe      206.48
9         Europe         Western Europe      198.31
10  Pacific Asia  Australia/New Zealand      198.17
11  Pacific Asia           Central Asia      203.18
12  Pacific Asia           Eastern Asia      195.65
13  Pacific Asia                Oceania      195.27
14  Pacific Asia             South Asia      195.82
15  Pacific Asia         Southeast Asia      197.43
16  Pacific Asia              West Asia      195.03
17          USCA       Northern America      197.90
18          USCA         South of  USA       194.26
19          USCA             US Center       195.58
20          USCA           West of USA       196.60

In [89]:
sales_2016.to_csv("../datasets/sales_2017.csv", index=False)